/* || PROPRIEDADES CUSTOMIZADAS */

:root {
  --clr-primary-200: #f3eed9;
  --clr--primary-500: #834936;

  --clr-neutral-900: #222c2a;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}

/* CSS RESET(REINÃCIO) */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* || ESTILIZACAO GENERICA */
body {
  font-family: var(--ff-primary);
}

h1,
h2,
h3 {
  color: var(--clr--primary-500);
  line-height: 1;
  font-family: var(--ff-accent);
  font-weight: 900;
  margin-bottom: 1em;
}

h2,
p {
  margin-bottom: 1em;
}


header,
section {
  padding: 4rem 0;
}

@media (min-width: 40em) {

  header,
  section {
    padding: 6rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 35rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .flex-container {
    flex-direction: row;
  }

  .flex-container>* {
    flex-basis: 100%;
  }

  .flex-container>*+* {
    margin-left: 2em;
  }


}

/* || PROPRIEDADES DE UTILIDADE */
.text-center {
  text-align: center;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-dark {
  background-color: var(--clr-neutral-900);
  color: var(--clr-primary-200);
}

.bg-accent {
  background-color: var(--clr--primary-500);
  color: var(--clr-primary-200);
}

.bg-accent h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.footer {
  padding-block: 1.5rem;
}